/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "./reset.scss";
 @import "./navbar.scss";
 @import "./splash.scss";
 @import "./signup_modal.scss";
 @import "./profile.scss";
 @import "./edit_modal.scss";
 @import "./profpic_modal.scss";
 @import "./covpic_modal.scss";
 @import "./posts.scss";
 @import "./editpost_modal.scss";
 @import "./createpost_modal.scss";

 // These imports are so that we only need to read one scss file

 h1 {
    font-size: 32px;
    font-weight: bold;
 }

 @keyframes hoverover {
    from { transform: scale(1); }
    to { transform: scale(1.02); }
  }
  
 @keyframes hoveroff {
    from { transform: scale(1.02); }
    to { transform: scale(1); }
  }
  
  @keyframes modal_hoveroff {
    from { transform: translate(-50%, -50%) scale(1.02); }
    to { transform: translate(-50%, -50%) scale(1); }
  }

  @keyframes fadeout {
      from { opacity: 100%; }
      to { opacity: 0%; }
  }