.comment_whole {
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px;
    margin-top: 18px;
    padding: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    background: rgba(236, 236, 236, 0.7);
    border-radius: 15px;
}

.comment_body {
    font-size: 15px;
    overflow-wrap: break-word;
    padding: 4px;
    padding-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    width: 500px;
}

.comments_placeholder {
    font-size: 12px;
    padding: 4px;
    padding-bottom: 0;
    margin-top: 3px;
    margin-left: 16px;
    margin-bottom: 6px;
    opacity: 40%;
}

.comments_placeholder_like {
    font-size: 11px;
    padding: 3px;
    margin-left: 6px;
    opacity: 65%;
    cursor: pointer;
}

.createcomment {
    font-size: 15px;
    width: 93%;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 13px;
    color: rgba(46, 46, 46, 0.7);
    border: none;
    outline: none;
    border-radius: 100px;
    background: rgba(236, 236, 236, 0.7);
    z-index: 5;
    animation: 0.5s hoveroffsml forwards;
}

.createcomment:hover {
    background: rgba(230, 230, 230, 0.7);
    animation: 0.5s hoveroversml forwards;
}

.comment_bio_div {
    text-align: center;
    padding: 0;
    margin: 0;
}

.openeditcomment_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

// .createcomment {
//     font-size: 15px;
//     width: 93%;
//     margin-left: 10px;
//     margin-top: 4px;
//     margin-bottom: 0;
//     padding: 10px;
//     padding-left: 13px;
//     color: rgba(46, 46, 46, 0.7);
//     border: none;
//     outline: none;
//     border-radius: 100px;
//     background: rgba(236, 236, 236, 0.7);
//     z-index: 5;
//     animation: 0.5s hoveroffsml forwards;
// }

// .createcomment:hover {
//     background: rgba(230, 230, 230, 0.7);
//     animation: 0.5s hoveroversml forwards;
// }

.openeditcomment_input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 6px;
    padding-left: 10px;
    // padding-bottom: 0;
    margin: 0;
    // margin-bottom: 10px;
    resize: none;
    width: 93%;
    border: none;
    outline: none;
    border-radius: 100px;
    background: rgba(236, 236, 236, 0.7);
    background-color: rgba(229, 231, 235, 0.9);
    z-index: 5;
}

// .openedit_input {
//     font-size: 15px;
//     text-align: center;
//     padding: 5px;
//     margin: 0;
//     margin-bottom: 10px;
//     min-height: 70px;
//     max-height: 150px;
//     width: 380px;
//     resize: vertical;
//     border-radius: 5px;
//     border: 1px solid rgba(134, 134, 134, 0.4);
//     background-color: rgba(229, 231, 235, 0.9);
//     z-index: 5;
// }

.openeditcomment_input:focus {
    outline: none;
}

.editcomment_whole {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.comment_openbiobutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 8px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    z-index: 5;
    animation: 0.3s hoveroff forwards;
}

.comment_openbiobutton:hover {
    opacity: 70%;
    cursor: pointer;
    animation: 0.3s hoverover forwards;
}

.edit_comment_cancel {
    width: 80px;
    color: rgb(55, 55, 55);
    background-color: rgba(229, 231, 235, 0.9);
}

.edit_comment_submit {
    width: 95px;
    color: white;
}