.createpostedittitle {
    margin-left: 165px;
}

.createpost {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    // justify-content: center;
}

.createpost_profpic {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    width: 50px;
}

.createpost_modalopen {
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 10px;
    padding: 7px;
    padding-left: 18px;
    color: rgba(46, 46, 46, 0.7);
    border-radius: 100px;
    background: rgba(236, 236, 236, 0.7);
    animation: 0.5s hoveroff forwards;
}

.createpost_modalopen:hover {
    background: rgba(228, 228, 228, 0.7);
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.createpost_profile_pic {
    position: relative;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    z-index: 2;
    animation: 0.5s hoveroff forwards;
}

.createpost_profile_pic:hover {
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.createpostlinediv {
    position: relative;
    left: 3px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 12px;
    width: 567px;
}

.createpostposition {
    position: relative;
}