// .logo{
//     background-image: image-url('facenove-front-logo.png');
//     width: 450px;
//     height: 90px;
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
//     // This way of adding pictures can make it blurry...
// }

.blue {
    color: rgba(24, 119, 242, 1);
}

.green {
    color: rgba(32, 226, 136, 1);
}

.red {
    color: rgb(240, 47, 47);
}