.like_modal_title {
    margin-left: 215px;
}

.like_amount {
    font-size: 130%;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 215px;
    color: blue;
}

.likes_modal {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.each_liker {
    display: flex;
    padding: 10px;
}

.each_liker_name {
    font-size: 120%;
    position: relative;
    top: 11px;
    padding: 10px;
    padding-left: 20px;
}