.navbar_whole {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 2.5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    z-index: 14;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.navbar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 30%;
    // border: 4px solid rgba(0, 255, 34, 0.5);
}

.logo img {
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    // animation: 0.3s hoveroff forwards;
}

.logo:hover {
    margin-top: 1px;
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

.search-bar {
    height: 40px;
    width: 20vw;
    margin-left: 3px;
    font-size: 15px;
    color: rgba(46, 46, 46, 0.7);
    padding-left: 16px;
    border-radius: 100px;
    border: none;
    background: rgba(236, 236, 236, 0.7);
}

.search-bar:hover {
    // opacity: 85%;
    animation: 0.3s hoveroversml forwards;
    background: rgba(230, 230, 230, 0.8);
}

.search-bar:focus {
    outline: none;
}

.search-bar-magni {
    height: 40px;
    width: 25vw;
    margin-left: 3px;
    font-size: 15px;
    color: rgba(46, 46, 46, 0.7);
    padding-left: 36px;
    border-radius: 100px;
    border: none;
    background: rgba(236, 236, 236, 0.7);
}

.search-bar-magni:hover {
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

.search-bar-magni:focus {
    outline: none;
}

.search-bar-mini {
    height: 40px;
    width: 40px;
    margin-left: 3px;
    font-size: 15px;
    padding: 1px;
    cursor: pointer;
    color: rgba(46, 46, 46, 0.7);
    text-align: center;
    border-radius: 100px;
    border: none;
    background: rgba(236, 236, 236, 0.7);
}

.search-bar-mini:hover {
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

.magnifying-glass {
    position: absolute;
    margin-top: 12px;
    margin-left: 20px;
    color: rgba(46, 46, 46, 0.7);
    cursor: pointer;
    z-index: 15;
}

.magnifying-glass:hover {
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

.navprofpic img {
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    height: 38px;
    width: 38px;
    border-radius: 100px;
    // animation: 0.3s hoveroff forwards;
}

.prof-pic-blue img {
    border: 2px solid #558cd8;
}

.prof-pic-green img {
    border: 2px solid #53e7a2;
}

.prof-pic-red img {
    border: 2px solid #e25d5d;
}

.navprofpic:hover {
    cursor: pointer;
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

.navbar_middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 30%;
    // border: 4px solid rgba(5, 71, 146, 0.5);
}

.navbar-link img {
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 4px;
    width: 40px;
    height: 40px;
}

.navbar-link:hover {
    margin-top: 1px;
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

// .greeting {
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 140%;
//     font-weight: bold;
//     color: rgba(0, 0, 0, 0.80);
// }

.navbar_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 30%;
    margin-right: 5px;
    // border: 4px solid rgba(141, 5, 146, 0.5);
}

.color_button {
    margin-left: 4px;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    border: 1.5px solid #ccc;
    background: rgba(221, 221, 221, 0.25);
    border-radius: 100px;
    // animation: 0.3s hoveroff forwards;
}

.color_button:hover {
    cursor: pointer;
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}

.logout_button {
    margin-left: 4px;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    border: 1.5px solid #ccc;
    background: rgba(221, 221, 221, 0.25);
    border-radius: 100px;
    // animation: 0.3s hoveroff forwards;
}

.logout_button:hover {
    cursor: pointer;
    opacity: 85%;
    animation: 0.3s hoverover forwards;
}