.photo_modal_child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    position: fixed;
    top: 50%;
    right: -16.5%;
    padding: 10px;
    padding-bottom: 20px;
    width: 30%;
    height: 100%;
    background: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 20;
    animation: 0.3s modal_hoveroff forwards;
    // overflow-y: scroll;
    // overflow-x: hidden;
}

.profpiclinediv-photomodal {
    position: relative;
    right: 9px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 12px;
    width: 110%;
}

.profpiclinediv-photomodal-comment {
    position: relative;
    right: 9px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    width: 110%;
}

.profpictop {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    margin-bottom: 6px;
}

.organize-photomodal {
    display: flex;
    justify-content: space-between;
}

.photo-modal-x {
    margin-right: 25px;
    margin-top: 7px;
}

.photo-photomodal {
    display: flex;
    justify-content: center;
    width: 68.6%;
}

.photopic-photomodal {
    padding: 0px;
    position: fixed;
    width: 70.5vw;
    height: 100vh;
    object-fit: contain;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    background-color: black;
    border-radius: 5px;
    z-index: 18;
    animation: 0.5s hoveroffsmller forwards;
}

.opendropbtn-photomodal {
    position: relative;
    right: 45%;
}

.opendropbtn-photomodal:hover {
    background: rgba(209, 211, 214, 0.6);
}

.photopic-photomodal:hover {
    cursor: pointer;
    animation: 0.5s hoveroversmller forwards;
    z-index: 15;
}

.comments-photomodal {
    width: 100%;
}

.comments-photomodal h2 {
    width: 70%
}

.comments-photomodal h2.post_name {
    width: 100%
}

.comments-photomodal input {
    // margin-top: 13px;
    width: 85%;
}

.comments-photomodal form {
    position: absolute;
    bottom: 15px;
    left: 8px;
    width: 98%;
    background: white;
    padding-bottom: 5px;
    padding-top: 10px;
    z-index: 20;
}

.comments-photomodal p.comment_body {
    width: 95%;
}

.photo_modal_child div.post_body {
    width: 90%;
}

.comments-photomodal-oncomments {
    width: 92%;
    height: 55vh;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 1px lightgrey;
    border-radius: 5px;
}

.see-more {
    cursor: pointer;
    font-weight: bold;
}

.comments-photomodal-oncomments div.comment_whole-photomodal {
    margin-top: 14px;
}

.comments-photomodal-lesscomments {
    width: 92%;
    height: 55vh;
    padding-right: 15px;
}

.comments-photomodal-lesscomments div.comment_whole-photomodal {
    margin-top: 9px;
}

.comments-photomodal-oncomments::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
  }
  
.comments-photomodal-oncomments::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
    // box-shadow: 5px rgba(0,0,0,0.3);
}

.photo_modal_title {
    margin-left: 5px;
}

.photomodal-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    opacity: 40%;
    position: fixed;
    top: 350px;
    z-index: 16;
    border-radius: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    animation: 0.5s hoveroffsml forwards;
}

.photomodal-button:hover {
    animation: 0.5s hoveroversml forwards;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 70%;
    z-index: 19;
    user-select: none;
}

.prev {
    padding-left: 8px;
    padding-right: 10px;
    left: 2%;
}

.next {
    padding-left: 10px;
    padding-right: 8px;
    left: 64%;
}