.post_whole {
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px;
    margin-top: 18px;
    padding: 6px;
    width: 593px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 5px;
}

.post_top a {
    text-decoration: none;
}

.post_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_top_left {
    display: flex;
    flex-direction: row;
    padding: 9px;
}

.post_top_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 25px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 9px;
    padding-top: 0px;
}

.post_top_right:hover {
    border-radius: 4px;
    cursor: pointer;
}

.opendropbtn:hover {
    background: rgba(209, 211, 214, 0.6);
}

.post_dropdown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.post_dropclose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

.post_profile_pic {
    position: relative;
    height: 35px;
    width: 35px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    z-index: 2;
    animation: 0.5s hoveroff forwards;
}

.post_profile_pic:hover {
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.post-prof-pic-blue {
    border: 2px solid #558cd8;
}

.post-prof-pic-green {
    border: 2px solid #53e7a2;
}

.post-prof-pic-red {
    border: 2px solid #e25d5d;
}

.post_name {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 15px;
    color: rgba(34, 34, 34, 0.85);
    z-index: 2;
    animation: 0.5s hoveroffsml forwards;
}

.post_name:hover {
    color: rgba(100, 100, 100, 0.85);
    animation: 0.5s hoveroversml forwards;
}

// .name_and_time {
//     margin: 5px;
// }

.post_timestamp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 5px;
    margin-left: 15px;
    color: rgba(80, 80, 80, 1);
}

.post_timestamp_hover {
    font-size: 12px;
    display: none;
}

.post_timestamp:hover .post_timestamp_hover {
    // display: flex;
    // flex-direction: column;
    display: block;
    position: absolute;
}

.post_timestamp_hover div {
    position: relative;
    top: 5px;
    left: -130px;
    padding: 8px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    background: rgba(50, 50, 50, 0.8);
    z-index: 9;
    animation: 0.5s hoverover forwards, 0.5s fadein forwards;
}

.created_and_updated {
    padding-top: 2px;
    padding-bottom: 2px;
}

.postlinediv {
    position: relative;
    left: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 8px;
    width: 583px;
}

.post_body {
    font-size: 20px;
    // Can use inline size to determine width
    // of the font before breaking with break-word
    // inline-size: 570px;
    overflow-wrap: break-word;
    padding: 5px;
    padding-top: 0px;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 581px;
}

.postpic_whole {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postpic {
    height: 95%;
    width: 95%;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    z-index: 4;
    animation: 0.5s hoveroffsml forwards;
}

.postpic:hover {
    cursor: pointer;
    opacity: 85%;
    animation: 0.5s hoveroversml forwards;
}

.enlargedback {
    z-index: 9;
}

.enlarged {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 80%;
    max-width: 70%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.postpic_modal {
    height: 75%;
    width: 75%;
    padding: 10px;
    margin: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.postpic_noimage {
    color: rgb(141, 141, 141);
    margin-bottom: 8px;
}

.photo_close {
    position: absolute;
    top: 296px;
    right: 15px;
}

.photo_X {
    height: 15px;
    width: 15px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 100px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    z-index: 4;
    opacity: 65%;
    animation: 0.5s hoveroff forwards;
}

.photo_X:hover {
    opacity: 100%;
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.like_details {
    display: flex;
    flex-direction: row;
    opacity: 80%;
}

.like_details_names {
    font-size: 85%;
    padding: 3px;
}

.post_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.post_button_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.post-button-blue {
    color: rgba(24, 119, 242, 1);
    text-shadow: 0px 0px 0.5px #0000004c;
    opacity: 90%;
}

.post-button-green {
    color: rgba(32, 226, 136, 1);
    text-shadow: 0px 0px 0.5px #0000004c;
    opacity: 90%;
}

.post-button-red {
    color: rgba(240, 47, 47, 1);
    text-shadow: 0px 0px 0.5px #0000004c;
    opacity: 90%;
}

.post_placeholder {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 4px;
    margin: 2px;
    width: 270px;
    opacity: 90%;
    cursor: pointer;
}

.post_placeholder:hover {
    border-radius: 3px;
    background-color: rgb(246, 246, 246);
    animation: 0.3s hoverover forwards;
}

.dropopenabsolute {
    position: absolute;
}

.dropopenbackground {
    position: relative;
    top: 7px;
    right: 64px;
    padding: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 5px;
    z-index: 9;
}

.dropopentext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    padding: 5px;
}

.dropopentext:hover {
    background: rgba(229, 231, 235, 0.6);
    border-radius: 5px;
}

// .post_like {
//     margin-left: 5px;
//     margin-right: 5px;
//     width: 25px;
//     height: 25px;
// }

.post_like_buttons {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.post_buttons_bigger {
    width: 30px;
    height: 30px;
}

.post_like_buttons:hover {
    cursor: pointer;
    opacity: 85%;
}

// .logout_button {
//     margin-left: 5px;
//     margin-right: 5px;
//     width: 48px;
//     height: 48px;
//     border: 1.5px solid #ccc;
//     background: rgba(221, 221, 221, 0.25);
//     border-radius: 100px;
//     // animation: 0.3s hoveroff forwards;
// }

// .logout_button:hover {
//     cursor: pointer;
//     opacity: 85%;
//     animation: 0.3s hoverover forwards;
// }