.post_whole {
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px;
    margin-top: 18px;
    padding: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
}

.post_top a {
    text-decoration: none;
}

.post_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_top_left {
    display: flex;
    flex-direction: row;
    padding: 9px;
}

.post_top_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 25px;
    padding: 9px;
    padding-top: 0px;
}

.post_top_right:hover {
    background: rgba(229, 231, 235, 0.6);
    border-radius: 4px;
    cursor: pointer;
}

.post_dropdown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
    z-index: 5;
}

.post_dropclose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

.post_profile_pic {
    height: 35px;
    width: 35px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    animation: 0.5s hoveroff forwards;
}

.post_profile_pic:hover {
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.postprofpicblue {
    border: 2px solid #558cd8;
}

.postprofpicgreen {
    border: 2px solid #53e7a2;
}

.postprofpicred {
    border: 2px solid #e25d5d;
}

.post_name {
    font-size: 22px;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 15px;
    color: rgba(34, 34, 34, 0.85);
    animation: 0.5s hoveroff forwards;
}

.post_name:hover {
    color: rgba(100, 100, 100, 0.85);
    animation: 0.5s hoverover forwards;
}

.post_body {
    font-size: 20px;
    padding: 5px;
    padding-top: 0px;
}

.post_placeholder {
    font-size: 12px;
    padding: 5px;
}