// .page {
//     position: fixed;
//     height: 100vh;
//     background-color: rgb(240, 242, 243);
//     overflow: scroll;
//     overflow-x: hidden;
// }

.pagebackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background: rgb(240, 242, 243);
}

.gradient {
    position: absolute;
    height: 681px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    z-index: 0;
    // border: 4px solid rgba(0, 68, 255, 0.5);
}

.profile_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    height: 676px;
    width: 1085px;
    z-index: 1;
    // border: 4px solid rgba(0, 68, 255, 0.5);
}

// .behind_modal {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     margin: 5px;
//     height: 676px;
//     width: 1085px;
//     z-index: 1;
//     overflow: auto;
// }

.profile_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 12px;
    color: rgba(34, 34, 34, 0.95);
    z-index: 2;
}

.coverpicbuttonadjustment {
    position: absolute;
}

.coverpic {
    position: absolute;
    height: 500px;
    width: 1085px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    animation: 0.5s hoveroff forwards;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.covpicbuttonwhole {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 430px;
    bottom: -450px;
    padding: 3px;
    border-radius: 6px;
    background: rgba(237, 237, 237, 0.85);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    z-index: 6;
    cursor: pointer;
}

.covpicbuttonwhole:hover {
    animation: 0.5s hoverover forwards;
}

.covpicbutton {
    height: 28px;
    width: 28px;
    margin-left: 2px;
    margin-right: 5px;
}

.editcoverpic {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    margin-right: 5px;
    color: rgba(34, 34, 34, 0.85);
}

.profilepicwholeadjustment {
    position: relative;
    left: 21px;
}

// .profilepicwhole {
// }

.profilepic {
    position: relative;
    margin-top: 375px;
    height: 170px;
    width: 170px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    z-index: 4;
    animation: 0.5s hoveroff forwards;
}

.profilepic:hover {
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.profpicbutton {
    position: relative;
    right: 36px;
    bottom: 6px;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    border: 3px solid rgba(237, 237, 237, 0.7);
    background: rgba(237, 237, 237, 0.85);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    z-index: 5;
}

.profpicbutton:hover {
    border: 3px solid rgba(237, 237, 237, 0.95);
    background: rgba(237, 237, 237, 1);
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.big-prof-pic-blue {
    border: 6px solid #558cd8;
}

.big-prof-pic-green {
    border: 6px solid #53e7a2;
}

.big-prof-pic-red {
    border: 6px solid #e25d5d;
}

.profile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile_friend_button {
    position: relative;
    right: 36px;
    bottom: 6px;
    width: 10%;
    margin-top: 14px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    z-index: 5;
    opacity: 90%;
}

.profile_friend_button:hover {
    opacity: 100%;
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.friend_button_blue {
    background: #4c89dd;
}

.friend_button_green {
    background: #3dd78f;
}

.friend_button_red {
    background: #df3f3f;
}

.empty_profile_placeholder {
    width: 10%;
}

.profile_tabs_whole {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 98.75%;
    margin-left: 8px;
    margin-bottom: 5px;
    border-top: 1px solid rgb(200, 200, 200);
    z-index: 2;
}

.profile_tabs {
    display: flex;
    flex-direction: row;
    justify-content: start;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.tab_inactive {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 14px;
    color: rgb(55, 55, 55);
}

.tab_inactive:hover {
    background: rgba(229, 231, 235, 0.6);
    border-radius: 4px;
    cursor: pointer;
}

.tab_active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0;
    padding: 14px;
    cursor: pointer;
}

.tab-blue {
    color: #558cd8;
    border-bottom: 3.5px solid #558cd8;
}

.tab-green {
    color: #53e7a2;
    border-bottom: 3.5px solid #53e7a2;
}

.tab-red {
    color: #e25d5d;
    border-bottom: 3.5px solid #e25d5d;
}

.edit_profile {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 4.5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(55, 55, 55);
    background-color: rgba(229, 231, 235, 0.9);
    border-radius: 7px;
    // animation: 0.5s hoveroff forwards;
}

.editicon {
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

.edit_profile:hover {
    opacity: 80%;
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.profile_body {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 1050px;
    // border: 4px solid rgba(0, 255, 106, 0.5);
}

.profbodytitle {
    font-size: 20px;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.90);
}

.profbodyseephotos {
    font-size: 17px;
    color: rgba(76, 76, 76, 0.9);
}

.profbodyseephotos:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(229, 231, 235, 0.4);
}

.profile_left * {
    margin: 6px;
    padding: 6px;
}

// Necessary to make the strong element not
// margins and padding from the above
.profile_left strong {
    margin: 0;
    padding: 0;
}

.profile_left em {
    margin: 0;
    padding: 0;
}

.profile_intro {
    display: flex;
    flex-direction: column;
    width: 415px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_intro * {
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

p strong {
    font-weight: bold;
}

p em {
    font-style: italic;
    color: rgba(0, 0, 0, 0.55);
}

// .profile_intro p {
    // border: 4px solid rgba(255, 0, 0, 0.5);
// }

// .profile_bio {
// }

.profile_bio_div {
    text-align: center;
    padding: 0;
    margin: 0;
}

.profile_bio_empty {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.profilebiobutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 12px;
    width: 367px;
    border: none;
    border-radius: 6px;
    color: rgb(55, 55, 55);
    background-color: rgba(229, 231, 235, 0.9);
    z-index: 9;
    animation: 0.3s hoveroff forwards;
}

.profilebiobutton:hover {
    opacity: 80%;
    cursor: pointer;
    animation: 0.3s hoverover forwards;
}

.openedit_whole {
    margin-top: 0;
    margin-bottom: 0;
}

.openedit_form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.openedit_textarea {
    font-size: 15px;
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    min-height: 70px;
    max-height: 150px;
    width: 380px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid rgba(134, 134, 134, 0.4);
    background-color: rgba(229, 231, 235, 0.9);
    z-index: 5;
}

.openedit_textarea:focus {
    outline: none;
    border: 1px solid rgba(70, 70, 70, 0.8);
    background-color: rgba(229, 231, 235, 0.4);
}

.editbio_whole {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.prof_openbiobutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 8px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    z-index: 5;
    animation: 0.3s hoveroff forwards;
}

.prof_openbiobutton:hover {
    opacity: 70%;
    cursor: pointer;
    animation: 0.3s hoverover forwards;
}

.edit_bio_cancel {
    width: 80px;
    color: rgb(55, 55, 55);
    background-color: rgba(229, 231, 235, 0.9);
}

.edit_bio_submit {
    width: 95px;
    color: white;
}

.editbiomargin {
    margin-top: 12px;
}

.profile_info_empty {
    margin: 0;
    padding: 0;
}

.edit_prof_intro {
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-bottom: 15px;
    padding: 0;
}

.editprofbutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 12px;
    width: 367px;
    border: none;
    border-radius: 6px;
    color: rgb(55, 55, 55);
    background-color: rgba(229, 231, 235, 0.9);
    z-index: 5;
    animation: 0.3s hoveroff forwards;
}

.editprofbutton:hover {
    opacity: 80%;
    cursor: pointer;
    animation: 0.3s hoverover forwards;
}

.profile_photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 415px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.photos_tabbody {
    display: flex;
    justify-content: center;
    width: 1050px;
    min-height: 600px;
    margin-bottom: 30px;
}

.phototab {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 9px;
    // padding: 15px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 5px;
}

.profile_photos * {
    font-family: Arial, Helvetica, sans-serif;
}

.photos_album_prof {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // May need this for photo tab itself
}

.photos_album_prof > * {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.photos_album_tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos_album_tab > * {
    width: 195px;
    height: 195px;
    object-fit: cover;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.photos-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

.photos-tab h2{
    margin-bottom: 0px;
}

.photopic {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 4;
    animation: 0.5s hoveroffsml forwards;
}

.photopic:hover {
    cursor: pointer;
    opacity: 85%;
    animation: 0.5s hoveroversml forwards;
}

.photopic-prof {
    padding: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 4;
    animation: 0.5s hoveroffsml forwards;
}

.photopic-prof:hover {
    cursor: pointer;
    opacity: 85%;
    animation: 0.5s hoveroversml forwards;
}

.photos_profbodytitle {
    font-size: 20px;
    color: rgba(34, 34, 34, 0.90);
    font-weight: bold;
    padding-left: 18px;
}

.photos_tab_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 18px;
    margin-bottom: 20px;
}

// .photos_album p {
//     margin: 5px;
//     padding: 10px;
//     height: 95px;
//     width: 95px;
//     color: rgba(34, 34, 34, 0.85);
//     border-radius: 5px;
//     border: 2px solid rgba(34, 34, 34, 0.20);
// }

.profile_right {
    // margin: 5px;
    display: flex;
}

.profile_posts {
    display: flex;
    flex-direction: column;
    width: 575px;
    padding: 15px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_posts * {
    font-family: Arial, Helvetica, sans-serif;
}

// .posts_wall {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
// }

.profile_posts p {
    margin: 5px;
    padding: 10px;
    height: 70px;
    width: 500px;
    color: rgba(34, 34, 34, 0.85);
    border-radius: 5px;
    border: 2px solid rgba(34, 34, 34, 0.20);
}

.tabbody {
    width: 1050px;
    height: 600px;
}