.page {
    height: 100%;
    background-color: rgb(240, 242, 243);
}

.gradient {
    position: absolute;
    height: 681px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 0;
    // border: 4px solid rgba(0, 68, 255, 0.5);
}

.profile_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    height: 676px;
    width: 1085px;
    z-index: 1;
    // border: 4px solid rgba(0, 68, 255, 0.5);
}

.profile_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.95);
    z-index: 2;
}

.coverpic {
    position: absolute;
    height: 500px;
    width: 1085px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 1;
    animation: 0.5s hoveroff forwards;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profilepic img {
    position: relative;
    margin-top: 375px;
    height: 170px;
    width: 170px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    z-index: 2;
    animation: 0.5s hoveroff forwards;
}

.profilepic img:hover {
    cursor: pointer;
    animation: 0.5s hoverover forwards;
}

.profpicbluebig img {
    border: 6px solid #558cd8;
}

.profpicgreenbig img {
    border: 6px solid #53e7a2;
}

.profpicredbig img {
    border: 6px solid #e25d5d;
}

.profile_tabs_whole {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-top: 1px solid rgb(200, 200, 200);
}

.profile_tabs {
    display: flex;
    flex-direction: row;
    justify-content: start;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_tabs * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 24px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 19px;
    color: rgb(100, 100, 100);
}

.profile_tabs *:hover {
    cursor: pointer;
}

.tab_active {
    border-bottom: 3.5px solid rgba(24, 119, 242, 1);;
    color: rgba(24, 119, 242, 1);
}

.edit_profile {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 24px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 19px;
    color: rgb(100, 100, 100);
}

.edit_profile:hover {
    cursor: pointer;
}

.profile_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1050px;
    // border: 4px solid rgba(0, 255, 106, 0.5);
}

.profbodytitle {
    font-size: 20px;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.90);
}

.profile_left * {
    margin: 6px;
    padding: 6px;
}

.profile_intro {
    display: flex;
    flex-direction: column;
    width: 415px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_intro * {
    font-family: Arial, Helvetica, sans-serif;
}

.profile_intro p {
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 415px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_photos * {
    font-family: Arial, Helvetica, sans-serif;
}

.photos_album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos_album p {
    margin: 5px;
    padding: 10px;
    height: 95px;
    width: 95px;
    color: rgba(34, 34, 34, 0.85);
    border-radius: 5px;
    border: 2px solid rgba(34, 34, 34, 0.20);
}

.profile_friends {
    display: flex;
    flex-direction: column;
    width: 415px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_friends * {
    font-family: Arial, Helvetica, sans-serif;
}

.friends_wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friends_wall p {
    margin: 5px;
    padding: 10px;
    height: 95px;
    width: 95px;
    color: rgba(34, 34, 34, 0.85);
    border-radius: 5px;
    border: 2px solid rgba(34, 34, 34, 0.20);
}

.profile_right * {
    margin: 6px;
    padding: 6px;
}

.profile_posts {
    display: flex;
    flex-direction: column;
    width: 575px;
    margin: 9px;
    margin-bottom: 18px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    // border: 4px solid rgba(255, 0, 0, 0.5);
}

.profile_posts * {
    font-family: Arial, Helvetica, sans-serif;
}

.posts_wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile_posts p {
    margin: 5px;
    padding: 10px;
    height: 70px;
    width: 500px;
    color: rgba(34, 34, 34, 0.85);
    border-radius: 5px;
    border: 2px solid rgba(34, 34, 34, 0.20);
}