.signup_modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.signup_modal-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 400px;
    height: 458px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    animation: 0.3s modal_hoveroff forwards;
}

.signuptop {
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.X {
    cursor: pointer;
    animation: 0.3s hoveroff forwards;
}

.X:hover {
    animation: 0.3s hoverover forwards;
}

.signupheader {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12px;
    color:rgba(110, 110, 110, 1);
}

.signuplinediv {
    position: relative;
    right: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 12px;
    width: 420px;
}

.signupname {
    display: flex;
    width: 402px;
}

.input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin: 6px;
    padding: 10px;
    width: 370px;
    border: 1px solid #ccc;
    border-color: rgba(167, 167, 167, 1);
    border-radius: 4px;
    background-color: rgba(248, 248, 248, 1);
    color: black;
    animation: 0.3s hoveroff forwards;
}

.input:hover {
    animation: 0.3s hoverover forwards;
}

.signupinfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    display: flex;
    margin: 7px;
    margin-left: 7px;
    color: rgba(0, 0, 0, 0.6);
}

.signupdrop {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.signupdrop * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    display: flex;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    width: 125px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgba(110, 110, 110, 1);
    animation: 0.3s hoveroff forwards;
}

.signupdrop *:hover {
    animation: 0.3s hoverover forwards;
}

.signupradio {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.signupradio * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105%;
    padding: 11px;
    margin-bottom: 3px;
    width: 25.9%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgba(110, 110, 110, 1);
    animation: 0.3s hoveroff forwards;
}

.signupradio *:hover {
    cursor: pointer;
    animation: 0.3s hoverover forwards;
}

.radio {
    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: space-evenly;
}

.submitbutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    margin: 10px;
    padding: 12px;
    width: 215px;
}