.splash {
    overflow-x: hidden;
    overflow-y: hidden;
}

.splash-background {
    position: fixed;
    height: 100%;
    width: 110%;
    z-index: -1;
    background-color: rgb(240, 242, 243);
}

.splash-top {
    padding-top: 72px;
    padding-bottom: 184px;
}

.splash-core {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-section {
    margin-top: -5px;
    margin-left: 15.5%;
    padding-top: 112px;
    padding-bottom: 16px;
    animation: 0.3s hoveroff forwards;
}

.front-logo {
    font-family: Arial, Helvetica, sans-serif;
    font: bold 60px Helvetica;
    animation: 0.3s hoveroff forwards;
}

.front-logo:hover {
    cursor: pointer;
    animation: 0.3s hoverover forwards;
}

.under-logo-message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    margin-top: 10px;
    width: 425px;
    color: rgb(63, 63, 63);
}

.blue {
    color: rgba(24, 119, 242, 1);
}

.green {
    color: rgba(32, 226, 136, 1);
}

.red {
    color: rgb(240, 47, 47);
}

.authform {
    margin-right: 18%;
    margin-top: 40px;
    animation: 0.3s hoveroff forwards;
}

.authform-core {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 350px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
}

.authform-note {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    color: rgb(63, 63, 63);
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(175, 175, 175, 0.5);
}

.login {
    font-size: 14px;
    height: 40px;
    width: 280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 7px;
    border: 1.5px solid rgb(165, 165, 165);
    border-radius: 6px;
    animation: 0.3s hoveroff forwards;
}

.logbutton {
    margin-bottom: 8px;
}

.login:hover {
    animation: 0.3s hoverover forwards;
}

.login:focus {
    outline: none;
}

.bluelogin:focus {
    border-color: #63adf1;
    box-shadow: 0 0 5px rgba(52, 173, 243, 0.4);
}

.greenlogin:focus {
    border-color: rgb(102, 245, 150);
    box-shadow: 0 0 5px rgba(32, 226, 135, 0.4);
}

.redlogin:focus {
    border-color: #b46153;
    box-shadow: 0 0 5px rgba(189, 62, 53, 0.4);
}

.login::placeholder {
    color: rgba(153, 153, 153, 0.85);
}

.login:focus::placeholder {
    color: rgba(180, 180, 180, 0.5);
}

.authform * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splashbutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #558cd8;
    cursor: pointer;
    animation: 0.3s hoveroff forwards;
}

.splashbutton:hover {
    animation: 0.3s hoverover forwards;
}

.bluesplash {
    background-color: #558cd8;
}

.bluesplash:hover {
    border-color: #b5f4f8;
    box-shadow: 0 0 5px rgba(52, 173, 243, 0.4);
    background-color: #739cd4;
}

.greensplash {
    background-color: #20e288;
}

.greensplash:hover {
    border-color: #70e68d;
    box-shadow: 0 0 5px rgba(33, 141, 69, 0.4);
    background-color: #53e7a2;
}

.redsplash {
    background-color: #db4646;
}

.redsplash:hover {
    border-color: #be7b5c;
    box-shadow: 0 0 5px rgba(155, 54, 46, 0.4);
    background-color: #e25d5d;
}

.logbuttontext {
    padding: 13px;
    margin: 8px;
    width: 313.5px;
}

.signupbuttontext {
    padding: 10px;
    margin: 8px;
    width: 215px;
}

.demobuttontext {
    padding: 10px;
    margin: 8px;
    width: 215px;
    margin-bottom: 15px;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 240px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
    animation: 0.3s hoveroff forwards;
}

.footer-info {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 8px;
    margin-left: 21%;
    margin-right: 23%;
    margin-bottom: 8px;
    height: 20px;
    border-bottom: 1px solid lightgrey;
}

.footer-info * {
    margin-right: 20px;
}
.footer-links {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 21%;
    height: 20px;
}

.footer-links * {
    margin-right: 20px;
}