// Dont want the scroll bar on the outside
.splash {
    overflow-x: hidden;
    overflow-y: hidden;
}

.splash-background {
    position: fixed;
    height: 100%;
    width: 110%;
    left: -5px;
    top: -5px;
    z-index: -1;
    background-color: rgb(240, 242, 243);
}

// No need for wrap since we made the logosection and authform
// in one div so the footer will always be placed after
// and since we made the height 80vh (viewport), it will be
// placed pretty far to the bottom since 80vh is around 80% of
// the browser height. So the footer only has that other ~20%
// after this div. We also shouldn't have it for the splash-core
// since then when we adjust the border dimensions, the authform
// will move to the next line if the vw is too small
.splash-core {
    position: relative;
    top: -20px;
    display: flex;
    // flex-wrap: wrap;
    height: 90vh;
    // width: 70vw;
    justify-content: space-evenly;
    align-items: center;
}

.logo-section {
    // border: 4px solid rgba(255, 0, 0, 0.5);
    position: relative;
    top: -40px;
    margin-left: 20px;
}

.authform {
    // border: 4px solid rgba(255, 0, 0, 0.5);
    margin-right: 20px;
}

.authform-core {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
}

.authform-note {
    margin-top: 15px;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupform {
}

.footer {
    // border: 4px solid rgba(255, 0, 0, 0.5);
    position: relative;
    left: -10px;
    bottom: -10px;
    display: flex;
    height: 15vh;
    width: 100vw;
    
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.footer-info {
    // border: 4px solid rgba(255, 0, 0, 0.5);
    display: flex;
    height: 6vh;
    justify-content: space-around;
    align-items: center;
}

.footer-links {
    // border: 4px solid rgba(255, 0, 0, 0.5);
    display: flex;
    height: 6vh;
    justify-content: space-evenly;
    align-items: center;
}